<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mrinmay Dey | Portfolio</title>

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
      rel="stylesheet"
    />

    <!-- fontawasome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="icon" type="image/png" href="/images/coding.png" />

    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <link id="theme-style" rel="stylesheet" href="" />
  </head>
  <body>
    <!-- top -->
    <section class="s1">
      <div class="main-container">
        <div class="greeting-wrapper">
          <h1>Hi, I'm Mrinmay Dey</h1>
        </div>

        <div class="intro-wrapper">
          <div class="nav-wrapper">
            <div class="dot-wrapper">
              <div id="dot-1" class="dot"></div>
              <div id="dot-2" class="dot"></div>
              <div id="dot-3" class="dot"></div>
            </div>

            <ul id="navigation">
              <li><a href="#contact-form">Contact</a></li>
            </ul>
          </div>

          <div class="left-column">
            <img id="profile-pic" src="/images/mrinmay_fb.jpg" alt="" />
            <h5 style="text-align: center; line-height: 0">
              Personalize Theme
            </h5>
            <div id="theme-wrapper">
              <div data-mode="light" id="light-mode" class="theme-dot"></div>
              <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
              <div data-mode="green" id="green-mode" class="theme-dot"></div>
              <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
            </div>
            <p id="setting-note">
              *Theme settings will be save for<br />
              your next visit
            </p>
          </div>

          <div class="right-column">
            <div id="preview-shadow">
              <div id="preview">
                <div class="corner" id="corner-tl"></div>
                <div class="corner" id="corner-tr"></div>
                <h3>What I do</h3>
                <p>I'm a passionate MERN stack developer.</p>
                <div class="corner" id="corner-br"></div>
                <div class="corner" id="corner-bl"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="s2">
      <div class="main-container">
        <div class="about-wrapper">
          <div class="about-me">
            <h4>More about me</h4>

            <p>
              Before starting web development, I did my bachelor's in
              mathematics.
            </p>

            <p>
              Since I have a passion for programming language so I decided to
              learn and discover the field. And this web development field has
              passionate me more and more, nowadays I'm learning react.js and
              more focused on becoming a MERN stack developer.
            </p>

            <hr />

            <h4>TOP EXPERTISE</h4>
            <p>
              MERN fullstack developer with focus on node and react:
              <a href="#">Download Resume</a>
            </p>

            <div id="skills">
              <ul>
                <li><i class="fab fa-html5"></i> HTML 5</li>
                <li><i class="fab fa-css3"></i> CSS 3</li>
                <li><i class="fab fa-js"></i> JavaScript</li>
                <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
                <li><i class="fab fa-react"></i> React</li>
              </ul>
              <ul>
                <li><i class="fab fa-node-js"></i> Node.js</li>
                <li><i class="fas fa-Ex">ex</i> Express</li>
                <li><i class="fas fa-database"></i> MongoDB</li>
                <li><i class="fab fa-git-alt"></i> Git</li>
              </ul>
            </div>
          </div>
          <div class="social-link">
            <img id="social-img" src="/images/github.png" alt="" />
            <h3>Find me on Github and Facebook</h3>
            <a target="_blank" href="https://github.com/mrinmayd3"
              >Github: @mrinmayd3</a
            >
            <br />
            <a target="_blank" href="https://www.facebook.com/mrinmay.dey2/"
              >Facebook: @mrinmaydey</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="s1">
      <div class="main-container">
        <h3 style="text-align: center">Some of my past projects</h3>

        <div class="project-wrapper">
          <div class="project">
            <img class="thumbnail" src="/images/index.png" alt="" />
            <div class="p-preview">
              <h6 class="p-header">YelpCamp</h6>
              <p class="p-intro">
                YelpCamp is a website where users can create and review
                campgrounds, also it has an integrated cluster map system. It
                has a fully functional user authentication to review or create a
                campground.
              </p>
              <a target="_blank" href="https://github.com/mrinmayd3/yelpCamp"
                >View code on <i class="fab fa-github"></i
              ></a>
            </div>
          </div>

          <div class="project">
            <img class="thumbnail" src="/images/home.png" alt="" />
            <div class="p-preview">
              <h6 class="p-header">Online e-commerce store</h6>
              <p class="p-intro">
                This is an e-commerce t-shirt store with 2 payment gateway
                integration, using mongoDB, express, react and node (MERN
                stack). I build this during my LCO MERN Bootcamp.
              </p>
              <a
                target="_blank"
                href="https://github.com/mrinmayd3/E-commerce-store"
                >View code on <i class="fab fa-github"></i
              ></a>
            </div>
          </div>

          <div class="project">
            <img class="thumbnail" src="/images/home2.png" alt="" />
            <div class="p-preview">
              <h6 class="p-header">Movie reviewing app</h6>
              <p class="p-intro">
                This is a simple frontend react movie reviewing app using The
                Movie DB API. You can see all latest and old movies review,
                ratings, and overviews, also search for your favorite movies.
              </p>
              <a
                target="_blank"
                href="https://github.com/mrinmayd3/react-movie-app"
                >View code on <i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section class="s2">
      <div class="main-container">
        <h3 style="text-align: center">Get in Touch</h3>

        <form id="contact-form">
          <label>Name</label>
          <input class="input-field" type="text" name="name" required />

          <label>Subject</label>
          <input class="input-field" type="text" name="subject" required />

          <label>Email</label>
          <input class="input-field" type="email" name="email" required />

          <label>Message</label>
          <textarea class="input-field" name="message" required></textarea>

          <button id="submit-btn">
            <i class="far fa-paper-plane"></i> Send
          </button>
        </form>
      </div>

      <!-- success message -->
      <div class="msg">
        <div class="" id="s-msg"></div>
      </div>

      <div style="text-align: center">
        <p>&copy; Made by Mrinmay with &#10084;</p>
      </div>
    </section>

    <!-- javascript -->
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
