:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;
  --previewBg: rgba(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --submitButton: #17a2b8;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

li {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  overflow-y: hidden;
}

/* top */
.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

#navigation a {
  color: var(--mainText);
}

.dot-wrapper {
  display: flex;
  padding: 10px;
}

.dot {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  margin: 5px;
}

.nav-wrapper li {
  display: inline-block;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
  animation: slideInFromButtom 1.5s ease-in-out;
}

#profile-pic {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

.theme-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  transition: border-width 0.3s;
}

.theme-dot:hover {
  border-width: 5px;
}

#theme-wrapper {
  display: flex;
  justify-content: center;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#setting-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
  animation: slideInFromButtom 2s ease-in-out;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  padding: 15px;
  background-color: var(--previewBg);
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

/* About */

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

#social-img {
  width: 100%;
}

.social-link {
  display: grid;
  align-content: center;
  text-align: center;
}

/* Portfolio */

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.project {
  border: 1px solid var(--borderColor);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
}

.p-preview {
  padding: 15px;
  /* background-color: #fff; */
  background-color: var(--mainColor);
}

.p-header {
  margin: 0;
}

.p-intro {
  color: var(--secondaryText);
  font-size: 14px;
}

/* Contact */

#submit-btn {
  background-color: var(--submitButton);
  color: #fff;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

#contact-form {
  display: block;
  max-width: 600px;
  background-color: var(--mainColor);
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  margin-bottom: 50px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
  color: var(--mainText);
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

/* animation */

@keyframes slideInFromButtom {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

/* responsive for mobile and tabs */
@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column';
  }

  .right-column {
    justify-content: center;
  }
}
